.footer{
    background-color: black;
    color: #fff;
    padding: 20px;
}
.wrapper{
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #000;
}
body{
    background-color: #000;
}